# PANDAS

### Pandas is a library that is used for data analysis and manipulation.
### It provides powerful tools for working with structured data.
### The main data structures are DataFrames and Series

In [9]:
# DataFrames Common operations
# Creating a DataFrame ---using pd.DataFrame()--- can be created from a dictionary, list of dictionaries, Numpy Array or CVS file
import pandas as pd 
data = {'Name': ['John', 'Emma', 'Bob', 'Alioce'],
        'Age': [25, 30, 18, 21],
        'City': ['Berlin', 'Lisbon', 'Dublin', 'Perth']}
df = pd.DataFrame(data)
print(df)

     Name  Age    City
0    John   25  Berlin
1    Emma   30  Lisbon
2     Bob   18  Dublin
3  Alioce   21   Perth

In [10]:
# Accessing and manipulating data

# accessing a column
print(df['Name'])
print(df['Age'])
print(df['City'])

0      John
1      Emma
2       Bob
3    Alioce
Name: Name, dtype: object
0    25
1    30
2    18
3    21
Name: Age, dtype: int64
0    Berlin
1    Lisbon
2    Dublin
3     Perth
Name: City, dtype: object

In [11]:
# Accessing a row
# loc --- is used for label-based indexing, which means you can use column and row labels 
# to access and manipulate data in a DataFrame. 
# The syntax for using loc is df.loc[row_label, column_label], where row_label and column_label are 
# the labels of the row(s) and column(s) you want to access. 
print(df.loc[0])
print(df.loc[1])
print(df.loc[2])
print(df.loc[3])

Name      John
Age         25
City    Berlin
Name: 0, dtype: object
Name      Emma
Age         30
City    Lisbon
Name: 1, dtype: object
Name       Bob
Age         18
City    Dublin
Name: 2, dtype: object
Name    Alioce
Age         21
City     Perth
Name: 3, dtype: object

In [18]:
# Using iloc to slice and access elements
print(df.iloc[1:1])

Empty DataFrame
Columns: [Name, Age, City, Gender, Occupation]
Index: []

In [13]:
# Changing a value
df.loc[3, 'City'] = 'London'

In [14]:
# Adding a new column
df['Gender'] = ['M', 'F', 'M', 'F']
df['Occupation'] = ['DevOps Engineer', 'Cloud Associate', 'Software Developer', 'Product Manager']
print(df)

     Name  Age    City Gender          Occupation
0    John   25  Berlin      M     DevOps Engineer
1    Emma   30  Lisbon      F     Cloud Associate
2     Bob   18  Dublin      M  Software Developer
3  Alioce   21  London      F     Product Manager

In [15]:
# Slicing rows
print(df[1:3])

   Name  Age    City Gender          Occupation
1  Emma   30  Lisbon      F     Cloud Associate
2   Bob   18  Dublin      M  Software Developer