## Simple Random User API

#### Load and use RandomUser API, using RandomUser() Python library

API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other.

The advantages of using APIs:

Automation. Less human effort is required and workflows can be easily updated to become faster and more
productive.

Efficiency. It allows to use the capabilities of one of the already developed APIs than to try to independently implement some functionality from scratch.

The disadvantage of using APIs:

Security. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data
breeches or losses having financial or reputation implications.

RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. It is similar to Lorem Ipsum but for people instead of text. The API can run multiple results as well as specify user generated details such as gender, email, image, username address, title, first and last name and more.

#### Get methods that can be used with the API:
get_cell(), get_city(), get_dob(), get_email(), get_first_name(), get_full_name(), get_gender(), get_id(), get_id_number(),
get_id_type(), get_info(), get_last_name(), get_login_md5(), get_login_salt(), get_login_sha1(), get_login_sha256(),
get_nat(), get_password(), get_phone(), get_picture(), get_postcode(), get_registered(), get_state(), get_street(),
get_username(), get_zipcode()

In [2]:
# To get started, we install the randomuser library using pip install
%pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
Using legacy 'setup.py install' for randomuser, since package 'wheel' is not installed.
Installing collected packages: randomuser
    Running setup.py install for randomuser: started
    Running setup.py install for randomuser: finished with status 'done'
Successfully installed randomuser-1.6
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.1.1; however, version 23.1.2 is available.
You should consider upgrading via the 'c:\Users\admin\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [3]:
# Load the necessary modules
from randomuser import RandomUser
import pandas as pd

In [4]:
# Initialize an object from RandomUser
r = RandomUser()

# Using generate_users() function, generate a list of 10 random users
users_list = r.generate_users(10)
users_list

[<randomuser.RandomUser at 0x21f20b98d60>,
 <randomuser.RandomUser at 0x21f28e65d90>,
 <randomuser.RandomUser at 0x21f28e65f40>,
 <randomuser.RandomUser at 0x21f28e65d30>,
 <randomuser.RandomUser at 0x21f28e65f70>,
 <randomuser.RandomUser at 0x21f28e65e50>,
 <randomuser.RandomUser at 0x21f28e65fa0>,
 <randomuser.RandomUser at 0x21f28e65fd0>,
 <randomuser.RandomUser at 0x21f28e9c040>,
 <randomuser.RandomUser at 0x21f28e9c070>]

In [6]:
# To get specific data about the users we use the get methods shown above to retrieve the data
user_name = r.get_full_name()
user_name

'Mathias Jensen'

In [30]:
# to generate the names and age of the 10 users
my_data = []
for user in users_list:
    #print(user.get_full_name(), '', user.get_email(), '', user.get_password())
    data = {'id no.':user.get_id_number(),'name':user.get_full_name(), 'email':user.get_email(), 'password':user.get_password()}
    my_data.append(data)
df = pd.DataFrame(my_data)
df

,id no.,name,email,password
0,None,Ariane Brown,ariane.brown@example.com,lionking
1,918-86-4851,Bill Reyes,bill.reyes@example.com,sales
2,1476378T,Gene Williams,gene.williams@example.com,strength
3,88702026,Ellenoor Haaksman,ellenoor.haaksman@example.com,444444
4,756.3867.2528.11,Mateo Brunet,mateo.brunet@example.com,michael2
5,22855985-I,Alfredo Calvo,alfredo.calvo@example.com,goat
6,None,Lea Young,lea.young@example.com,hydro
7,None,Esat Adal,esat.adal@example.com,corn
8,None,Nathaniel Clarke,nathaniel.clarke@example.com,tommy
9,848-66-1627,Melanie Garza,melanie.garza@example.com,sneaky

In [36]:
df.drop('id no.', axis='columns')
df

,id no.,name,email,password
0,None,Ariane Brown,ariane.brown@example.com,lionking
1,918-86-4851,Bill Reyes,bill.reyes@example.com,sales
2,1476378T,Gene Williams,gene.williams@example.com,strength
3,88702026,Ellenoor Haaksman,ellenoor.haaksman@example.com,444444
4,756.3867.2528.11,Mateo Brunet,mateo.brunet@example.com,michael2
5,22855985-I,Alfredo Calvo,alfredo.calvo@example.com,goat
6,None,Lea Young,lea.young@example.com,hydro
7,None,Esat Adal,esat.adal@example.com,corn
8,None,Nathaniel Clarke,nathaniel.clarke@example.com,tommy
9,848-66-1627,Melanie Garza,melanie.garza@example.com,sneaky

In [37]:
for user in users_list:
    print(user.get_picture())
    break

https://randomuser.me/api/portraits/women/95.jpg